[general]
accounts = DMARC
ui = Quiet

[Account DMARC]
localrepository = Local
remoterepository = Remote

[Repository Remote]
type = IMAP
remotehost = imap.change-me.tld
remoteuser = changeme
remotepass = changme-password
ssl = no
remoteport= 143
starttls = yes
ssl_version = tls1_2
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

[Repository Local]
type = Maildir
localfolders = ./mails
restoreatime = yes
